.giter {
  background: linear-gradient(180deg, #041b3b 0%, #819cee 100%);
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.name {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 5px 5px 10px #2a69c0;
}
.avatar img {
  width: 100%;
  text-shadow: 5px 5px 10px #2a69c0;
}

.info-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.7rem;
  text-align: left;
  font-weight: bold;
}

.langages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.langage_title {
  margin: 20px;
  text-shadow: 5px 5px 10px #2a69c0;
  font-size: 20px;
}

.langages li {
  background-color: #041b3b;
  width: 40vw;
  margin: 5px;
}

li a {
  color: #041b3b;
}

.buttons {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.buttons .next,
.buttons .precedent {
  font-size: 0.8rem;
  width: 33%;
}

@media screen and (min-width: 900px) {
  .profil_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .avatar img {
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    box-shadow: 5px 5px 10px #2a69c0;
    border-radius: 0%;
    animation-name: rotateAndRound;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    margin: 50px 0 0 90px;
  }

  @keyframes rotateAndRound {
    0% {
      border-radius: 0%;
      transform: rotate(0deg);
    }
    50% {
      border-radius: 50%;
      transform: rotate(180deg);
    }
    100% {
      border-radius: 50%;
      transform: rotate(360deg);
    }
  }

  .name {
    font-size: 50px;
    animation-name: slideUp;
    animation-duration: 2s;
    width: 100%;
    text-shadow: 5px 5px 10px #2a69c0;
  }
  @keyframes slideUp {
    from {
      transform: translate(0px, 200px);
    }
    to {
      transform: translate(0px, 0px);
    }
  }

  .info-container {
    animation-name: moveRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    min-width: 1000px;
    min-height: 40vw;
    margin-left: 100px;
    font-size: 20px;
    justify-content: space-around;
    position: relative;
    align-items: stretch;
    flex-wrap: ;
  }

  @keyframes moveRight {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(400px, 0px);
    }
  }

  .langages {
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    animation-name: langUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-left: 50px;
  }
  @keyframes langUp {
    from {
      transform: translate(300px, 0px);
    }
    to {
      transform: translate(0px, 300px);
    }
  }

  .langage_title {
    margin: 50px 0 45px 80px;
    text-shadow: 5px 5px 10px #2a69c0;
    font-size: 30px;
  }
  .langages li {
    width: 15vw;
    font-weight: bold;
    margin-left: 50px;
  }

  .giter {
    width: 100%;
  }
}
