@font-face {
  font-family: "Consolas";
  src: url("https://fontsforyou.com/fonts/c/Consolas.ttf");
}

.PokeProfil {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  align-content: stretch;
  box-shadow: 5px 5px 10px white;
  background: linear-gradient(180deg, #351d7c 0%, #ffffff 100%);
  text-shadow: 5px 5px 10px #2a69c0;
  border-radius: 30px;

  color: #fff;
}
div.PokeProfil {
  margin: auto;
  max-width: 420px;
}
.ProfilSelected {
  height: 900px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.PokeProfil .login {
  text-shadow: 5px 5px 10px #2a69c0;
  color: #fff;
  font-size: 20px;
}

.PokeProfil .followers {
  text-shadow: 5px 5px 10px #2a69c0;
  color: #fff;
}
.PokeProfil .lien {
  text-shadow: 5px 5px 10px #2a69c0;
  color: #fff;
  font-weight: bold;
}
.PokeProfil .langGitter {
  display: flex;
  text-shadow: 5px 5px 10px #2a69c0;
  flex-wrap: wrap;
  height: 30px;
  background-color: #041b3b;
  color: #fff;
  width: 100px;
  margin-bottom: 5px;
  align-content: center;
  justify-content: center;
  width: 30%;
  max-width: 100%;
}

.ProfilSelected .langGitter {
  display: flex;
  align-content: space-around;
  text-shadow: 5px 5px 10px #2a69c0;
  color: #fff;
  width: 100%;
  max-width: 40%;
  max-height: 40px;
  height: auto;
  margin-bottom: 5px;
  align-content: center;
  justify-content: center;
}

.languages {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 60%;
  min-height: 100px;
  flex-wrap: wrap;
  gap: 2px;
  align-items: center;
}

.PokeAvatar {
  height: 200px;
  width: 200px;
  text-shadow: 5px 5px 10px #2a69c0;
  margin-top: 20px;
}

li {
  color: #041b3b;
}

.PokeProfil .name {
  color: white;
}

.PokedevButtons {
  display: flex;
  font-size: 20px;
  margin: 20px;
  width: 100%;
  gap: 20px;
  justify-content: space-evenly;
}
.PokedevButtons button {
  gap: 20px;
  width: 40%;
  border-radius: 10px;
  background-color: #041b3b;
  box-shadow: 5px 5px 10px #2a69c0;
  color: #fff;
}
.PokedevHeader {
  background-color: #041b3b;
  border: 1px #041b3b solid;
  height: 80px;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.PokedevFooter {
  background-color: #041b3b;
  border: 1px #041b3b solid;
  height: 80px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .PokeProfil {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #05116b 0%, #fff 100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .ProfilSelected {
    height: 100%;
    width: 100%;
  }

  .PokeAvatar {
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    box-shadow: 5px 5px 10px #2a69c0;
    border-radius: 0%;
    animation-name: rotateAndRound;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    margin: auto;
    animation-fill-mode: forwards;
    margin-top: 30px;
  }

  @keyframes rotateAndRound {
    0% {
      border-radius: 0%;
      transform: rotate(0deg);
    }
    50% {
      border-radius: 50%;
      transform: rotate(180deg);
    }
    100% {
      border-radius: 50%;
      transform: rotate(360deg);
    }
  }

  .PokeProfil .name {
    font-size: 40px;
  }
  .PokeProfil .login {
    font-size: 25px;
  }
  .PokedevButtons {
    display: none;
  }
  .ProfilSelected.filter {
    display: none;
  }

  .PokedevHeader {
    height: 250px;
  }

  .PokedevFooter {
    height: 250px;
  }
}
