@font-face {
  font-family: "Consolas";
  src: url("https://fontsforyou.com/fonts/c/Consolas.ttf");
}

#root {
  text-align: center;
  box-sizing: border-box;
  --textfont: "consolas";
  --textcolor_card: black;
  --cardcolor: rgb(48, 48, 130);
}
