@font-face {
  font-family: "Consolas";
  src: url("https://fontsforyou.com/fonts/c/Consolas.ttf");
}

#root {
  text-align: center;
  box-sizing: border-box;
  --textfont: "consolas";
  --textcolor_card: black;
  --cardcolor: rgb(48, 48, 130);
}

* {
  font-family: var(--textfont);
}
body {
  height: 100dvh;
}
.pokedevTextShadow {
  text-shadow: 1px 1px 10px white;
  color: lightcyan;
}
.contentModal {
  filter: blur(10px);
}
.modalProfil {
  z-index: 10;
  border-radius: 24px;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 1025px) {
  @keyframes zoom {
    from {
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

/* @font-face {
  font-family: "My Font";
  src: url("./fonts/pixelplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
