@font-face {
  font-family: "Consolas";
  src: url("https://fontsforyou.com/fonts/c/Consolas.ttf");
}

#root {
  text-align: center;
  box-sizing: border-box;
  --textfont: "consolas";
  --textcolor_card: black;
  --cardcolor: rgb(48, 48, 130);
}

@font-face {
  font-family: "My Font";
  src: url("./fonts/pixelplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
